aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp_socks==0.11.0
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
alembic==1.18.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asgiref==3.11.0
asttokens==3.0.1
async-lru==2.1.0
attrs==25.4.0
av==16.1.0
babel==2.17.0
beautifulsoup4==4.14.3
binaryornot==0.4.4
bleach==6.3.0
cachetools==7.0.5
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.8
colour-science==0.4.7
comfy-cli==1.5.4
comfy-kitchen==0.2.7
comfyui-embedded-docs==0.4.0
comfyui-workflow-templates-core==0.3.101
comfyui-workflow-templates-media-api==0.3.45
comfyui-workflow-templates-media-image==0.3.67
comfyui-workflow-templates-media-other==0.3.88
comfyui-workflow-templates-media-video==0.3.39
comfyui_frontend_package==1.37.11
comfyui_workflow_templates==0.8.15
comm==0.2.3
contourpy==1.3.3
cookiecutter==2.6.0
cryptography==46.0.3
cycler==0.12.1
debugpy==1.8.19
decorator==5.2.1
defusedxml==0.7.1
diffusers==0.36.0
dill==0.4.1
easydict==1.13
einops==0.8.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.20.3
flatbuffers==25.12.19
fonttools==4.61.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2026.1.0
gdown==5.2.1
gitdb==4.0.12
GitPython==3.1.46
greenlet==3.3.0
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.36.0
hydra-core==1.3.2
hyperframe==6.1.0
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.1
iopath==0.1.10
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
json-logic==0.7.0a0
json5==0.13.0
jsonpointer==3.0.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.4
jupyterlab==4.5.6
jupyterlab-lsp==5.2.0
jupyterlab_code_formatter==3.0.2
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
kiwisolver==1.4.9
kornia==0.8.2
kornia_rs==0.1.10
lark==1.3.1
lazy_loader==0.4
llvmlite==0.46.0
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
matrix-nio==0.25.2
mdurl==0.1.2
mistune==3.2.0
mixpanel==5.1.0
mpmath==1.3.0
multidict==6.7.0
nbclient==0.10.4
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.6.1
notebook_shim==0.2.4
numba==0.64.0
numpy==2.4.1
omegaconf==2.3.0
onnxruntime-gpu==1.24.4
opencv-python==4.13.0.90
opencv-python-headless==4.13.0.92
packaging==26.0
pandocfilters==1.5.1
parso==0.8.5
pathspec==1.0.3
pexpect==4.9.0
piexif==1.1.3
pillow==12.1.0
pixeloe==0.1.4
platformdirs==4.5.1
polars==1.38.1
polars-runtime-32==1.38.1
pooch==1.9.0
portalocker==3.2.0
prometheus_client==0.24.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==7.34.1
psutil==7.2.1
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
PyGithub==2.8.1
Pygments==2.19.2
PyJWT==2.10.1
PyMatting==1.1.15
PyNaCl==1.6.2
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==4.0.0
python-slugify==8.0.4
python-socks==2.8.0
PyYAML==6.0.3
pyzmq==27.1.0
questionary==2.1.1
referencing==0.37.0
regex==2026.1.15
rembg==2.0.72
requests==2.32.5
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rpds-py==0.30.0
ruff==0.14.14
safetensors==0.7.0
-e git+https://github.com/thu-ml/SageAttention.git@68de3797d163b89d28f9a38026c3b7313f6940d2#egg=sageattention
SAM-2 @ git+https://github.com/facebookresearch/sam2@2b90b9f5ceec907a1c18123530e92e794ad901a4
scikit-image==0.26.0
scipy==1.17.0
segment-anything==1.0
semver==3.0.4
Send2Trash==2.1.0
sentencepiece==0.2.1
setuptools==78.1.0
shellingham==1.5.4
simsimd==6.5.13
six==1.17.0
smmap==5.0.2
soupsieve==2.8.3
spandrel==0.4.1
SQLAlchemy
stack-data==0.6.3
stringzilla==4.6.0
sympy==1.14.0
terminado==0.18.1
text-unidecode==1.3
tifffile==2026.2.24
timm==1.0.25
tinycss2==1.4.0
tokenizers==0.22.2
toml==0.10.2
tomlkit==0.14.0
torch
torchaudio
torchsde==0.2.6
torchvision
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
transformers==4.57.6
transparent-background==1.3.4
triton
typer==0.21.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
ultralytics==8.4.19
ultralytics-thop==2.0.18
unpaddedbase64==2.1.0
uri-template==1.3.0
urllib3==2.6.3
uv==0.9.26
wcwidth==0.3.1
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
wget==3.2
wheel==0.46.3
yarl==1.22.0
zipp==3.23.0
